<header>

    <div class="container-logo">
        logo
    </div>

    <div class="container-search">
        <h2>
            header of admin
        </h2>
           <div>
       
        </div>
        </div>
        </header>