<h2>Create new customer</h2>
<form action="/admin/customer_management/create_customer" method="POST">
    <%- include("../../partials/form_fields.ejs") %>
<button type="submit">Save</button>
<a href="/admin/customer_management">Cancel</a>
</form>