<h2>Edit Customer</h2>
<form action="/admin/customer_management/<%= customer.id %>?_method=PUT" method="POST">
    <%- include("../../partials/form_fields.ejs") %>
<button type="submit">Update</button>
<a href="/admin/customer_management">Cancel</a>
</form>
</form>