<h2>Create New Book</h2>
<form action="/admin/book_management/create_new_book" method="POST">
    
    <%- include('form_field') %>
    <button type="submit">Save</button>
    <a href="/admin/book_management">Cancel</a>
</form>