<h2>Register As a Customer</h2>
<form action="/everygreen/register" method="POST">
<%- include("../partials/form_fields.ejs") %>
<button type="submit">Save</button>
<a href="/everygreen">Cancel</a>
</form>