<h2>Edit Customer</h2>
<form action="/everygreen/customer_profile/<%= customer.userid %>?_method=PUT" method="POST">
    <%- include("../partials/form_fields.ejs") %>
<button type="submit">Update</button>
<a href="/everygreen/customer_profile">Cancel</a>
</form>
</form>