<form action="/everygreen" method="POST">
    <label>username</label>
    <input type="text" name="username">

    <label>email</label>
    <input type="email" name="email">

    <label>Password</label>
    <input type="password" name="password">

    <button type="submit">Register</button>
</form>