<h2>Create new Category</h2>
<form action="/admin/create_category" method="post">
    <div>
    <label>Enter Category</label>
    </div>
    <div>
    <input type="text" name="name" placeholder="Enter category">
    </div>
    <input type="submit" value="Save">
   <a href="/admin/category_management"> <input  type="button" value="Cancel"> </a>
</form>